<div class="container py-3">
    <h1>
        <span class="fas fa-user-circle text-muted mr-3"></span>Your account
    </h1>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Username</th>
                <th>Joined</th>
                <th class="text-center">#Snippets</th>
                {{!-- Implement later:
                <th class="text-center">Edit/Delete Account</th> --}}
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{locals.username}}</td>
                <td>{{locals.date}}</td>
                <td class="text-center"><a href="/snippets?author={{locals.username}}">{{locals.snippets}}</a></td>
                {{!-- <td class="text-center">
                    <a href="/create/edit/{{user.id}}"><span class="far fa-edit"></span></a>
                    <a href="/create/delete/{{user.id}}"><span class="far fa-trash-alt"></span></a>
                </td> --}}
            </tr>
        </tbody>
    </table>
    <form method="post" action="/account">
        <button type="submit" class="btn btn-lg btn-danger">Log out!</button>
    </form>
</div>