<div class="container py-3">
    <h1>
        <span class="fas fa-code text-muted mr-3"></span>Snippets
    </h1>
    {{#if locals.userID}}
    <div class="mb-3">
        <a href="/snippets/create" class="btn btn-primary" role="button">Create a new Snippet »</a>
    </div>
    {{else}}
    <div class="col py-3 bg-light">
        <p>You need an account to create snippets.</p>
        <p><a href="/account/login" class="btn btn-primary btn-sm">Log in</a> or <a href="/account/create" class="btn btn-primary btn-sm">Create a new account</a></p>
    </div>
    {{/if}}
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>
                    <select id="filterLanguageList">
                        <option selected>Language</option>
                        {{#each locals.languages}}
                        <option>{{this}}</option>
                        {{/each}}
                    </select>
                </th>
                <th>
                    <select id="filterAuthorList">
                        <option selected>Author</option>
                        {{#each locals.authors}}
                        <option>{{this}}</option>
                        {{/each}}
                    </select>
                </th>
                <th class="text-center">{{#if locals.userID}}Edit/Delete{{/if}}</th>
            </tr>
        </thead>
        <tbody>
            {{#if locals.snippets.length }}
            {{#each locals.snippets}}
            <tr class="accordion-toggle" data-language="{{this.language}}" data-author="{{this.author}}" data-toggle="collapse" data-target="#snippet{{this.id}}">
                <td>{{this.title}}</td>
                <td>{{this.description}}</td>
                <td>{{this.language}}</td>
                <td>{{this.author}}</td>
                <td class="text-center">
                    {{#if this.editable}}
                    <a href="/snippets/edit/{{this.id}}"><span class="far fa-edit"></span></a>
                    <a href="/snippets/delete/{{this.id}}"><span class="far fa-trash-alt"></span></a>
                    {{/if}}
                </td>

            </tr>
            <tr data-language="{{this.language}}" data-author="{{this.author}}">
                <td class="accordion-body collapse" id="snippet{{this.id}}" colspan="5">
                    <div>
                        <pre><code>{{this.content}}</code></pre>
                    </div>
                </td>
            </tr>
            {{/each}}
            {{else}}
            <tr>
                <td colspan="5" class="text-center text-danger">
                    No snippets to display :(
                </td>
            </tr>
            {{/if}}
        </tbody>
    </table>
</div>
<!-- /container -->